{% extends 'layout' %}
{% block 'main' %}
#content{:role => "main"}
	#mainContent.center

		%h2.title02
			Mentions légales
		%article
			%header
				%h2.subTitle02 Directeur de la publication
			%p
				Olivier PIETTRE
				%br
				Follow The Sun Sas 62, avenue Jean Lebas, 59100 ROUBAIX
				%br
				Tél : +33 320691717
				%br
				Fax : +33 320691718
				%br
				Le site est herbergé par Heroku
				%br

		%article
			%header
				%h2
					Déclaration CNIL
			.p
				En cours

		%article
			%header
				%h2
					Droits d'accès et de rectification
			%p
				Les informations nominatives vous concernant font l'objet d'un traitement automatisé.
				%br
				Conformément à la loi n° 78-17 du 6 janvier 78 1978, vous bénéficiez d'un droit d'accès à ces informations et, le cas échéant, du droit de rectification, ainsi que d'un droit d'opposition à leur conservation.
				%br
				Si vous souhaitez exercer ce droit, il vous suffit de nous contacter : 
				%br
				Par courrier électronique: contact@fts-services.com
				%br
				Par courrier à : Follow The Sun 62, avenue Jean LEBAS, 59100 ROUBAIX

		%article
			%header
				%h2
					Propriété intellectuelle 
			%p
				L'intégralité de ce site est protégée par les législations françaises et internationales relatives à la propriété intellectuelle.
				%br
				Tous les droits de reproduction sont réservés. L'ensemble des textes composant le site ne peut, conformément à l'article L122-4 du code de la propriété intellectuelle, faire l'objet d'une quelconque représentation ou reproduction, intégrale ou partielle, sur quelque support que ce soit, sans l'autorisation expresse et préalable de Follow The Sun SAS.
				%br
				Le non-respect de cette interdiction constitue un acte de contrefaçon pouvant engager la responsabilité civile et/ou pénale de son auteur. 
				%br
				Les informations communiquées sur le site sont fournies à titre indicatif, elles sont non contractuelles et ne sauraient engager la responsabilité de Follow The Sun SAS.
				%br
				Pour toute demande de création de liens hypertextes en direction du site ou de reproduction de documents, merci de nous adresser un courrier électronique à l'adresse contact@fts-services.com
				%br
				Vous souhaitez ne plus recevoir de communication de la part de Follow The Sun, vous pouvez directement nous contacter par email à l'adresse suivante : contact@fts-services.com, nous procéderons alors à la suppression de votre adresse dans notre base.

{% endblock%}