{% extends 'layout' %}
{% block 'main' %}
<div id="content" role="main">
  <div id="banner">
    <div class="inner">
      <div class="center bannerInside">
        <div class="bannerExtend bannerLeft"></div>
        <div class="bannerExtend bannerRight"></div>
        <div class="row-fluid bannerContent">
          <div class="span5 imageContent">
            <img src="{{ 'images/banner/fr/thecompagny.png' | theme_image_url }}" alt=""/>
          </div>
          <div class="span7 textContent">
            <article class="text">
              {% editable_long_text 'Bandeau', :hint => 'Respecter le html !', priority: 100 %}
              <header class="hd">
                <h2 class="title02">Des experts métiers se prennent au jeu <br/>du service online !</h2>

                <p class="subTitle02">Professionnels sans se prendre la tête !</p>
              </header>
              <div class="bd">
                <p>
                  Créé en 2011 à Lille-Métropole, Follow The Sun est un éditeur qui transforme des
                  savoir-faire métier en offres de services en ligne simples, fiables, sécurisées et
                  interconnectables.
                </p>

                <p>
                  Follow The Sun est un spin-off d’<a target="_blank" href="http://www.eto.fr"><span class="color01">ETO</span></a>, premier groupe
                  européen indépendant de
                  marketing services. A ce titre, Follow The Sun bénéficie de son savoir-faire
                  largement reconnu dans les métiers de la relation consommateur, au travers de très
                  grands clients nationaux et internationaux ; et également d’un hébergement de haute
                  qualité pour ses services online, au travers de la société <a target="_blank" href="http://www.runiso.com"><span class="color01">RUNISO</span></a>.
                </p>
              </div>
              {% endeditable_long_text %}
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainContent" class="center">
    <div class="row-fluid">
      {% block 'Colonne gauche' %}
      <section class="span7 enterprisePhilosophy">
        <header>
          <h2 class="title02">{% editable_short_text 'Titre', priority: 10 %}Les règles du jeu{% endeditable_short_text %}</h2>

          <p class="subTitle02">{% editable_short_text 'Sous-titre', priority: 9 %}Valeurs et philosophie de l'entreprise{% endeditable_short_text %}</p>
        </header>
        <div class="bd">
          {% editable_long_text 'Texte', hint: 'Utiliser <ul class="list01"> pour les listes à puces' %}
          <ul class="list01">
            <li>
              Follow The Sun commercialise ses offres en équipe avec son écosystème
              de partenaires.
            </li>
            <li>
              Follow The Sun s’engage sur la qualité et la disponibilité de ses services hébergés
              en s’appuyant sur Runiso certifié PCI/DSS.
            </li>
            <li>
              Follow The Sun a une stratégie de forte croissance sur le terrain national et international
              favorisée par un rapport qualité/prix optimum.
            </li>
            <li>
              Follow The Sun conduit ses affaires dans le respect de ses valeurs :
              <ul>
                <li>- Transparence et honnêteté dans sa promesse</li>
                <li>- Innovations technologique et économique</li>
                <li>- Implication des équipes envers les partenaires et les clients</li>
                <li>- Autonomie de ses collaborateurs et responsabilité vis-à-vis de son environnement
                </li>
                <li>- Recherche de l’excellence</li>
              </ul>
            </li>
          </ul>
          {% endeditable_long_text %}
        </div>
        <div class="ft more">
          <a href="/clients" class="btn btn03"><span>Lire les témoignages</span></a>
        </div>
      </section>
      {% endblock %}
      {% block 'Chiffres clés' %}
      <div class="span5">
        <div class="xtraPaddingL">
          <aside class="ourScores">
            <header>
              <h3 class="title02">{% editable_short_text 'Titre', priority: 10 %}Nos scores{% endeditable_short_text %}</h3>
            </header>
            <div class="bd">
              <p class="subTitle02">En quelques chiffres</p>
              <ul class="blockList">
                <li class="clearfix">
                  <div class="score">{% editable_short_text 'Ligne 1 chiffre', priority: 8 %}68{% endeditable_short_text %}</div>
                  <p class="desc">
                    {% editable_short_text 'Ligne 1 texte', priority: 7 %}
                    Nombre de partenaires talentueux avec lesquels l’entreprise Follow The Sun a tissé des liens.{% endeditable_short_text %}
                  </p>
                </li>
                <li class="clearfix">
                  <div class="score">{% editable_short_text 'Ligne 2 chiffre', priority: 6 %}3{% endeditable_short_text %}</div>
                  <p class="desc">
                    {% editable_short_text 'Ligne 2 texte', priority: 5 %}
                    Nombre d’années de développement de la solution CRM 360°{% endeditable_short_text %}
                  </p>
                </li>
                <li class="clearfix">
                  <div class="score">{% editable_short_text 'Ligne 3 chiffre', priority: 4 %}100{% endeditable_short_text %}</div>
                  <p class="desc">
                    {% editable_short_text 'Ligne 3 texte', priority: 3 %}
                    Nombre d’années d’expériences cumulées{% endeditable_short_text %}
                  </p>
                </li>
                <li class="clearfix">
                  <div class="score">{% editable_short_text 'Ligne 4 chiffre', priority: 2 %}12{% endeditable_short_text %}</div>
                  <p class="desc">
                    {% editable_short_text 'Ligne 4 texte', priority: 1 %}
                    Nombre de claviers usés pour développer CRM 360°{% endeditable_short_text %}
                  </p>
                </li>

              </ul>
            </div>
          </aside>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
  <div id="bottomContent">
    <div class="center">
      <div class="row-fluid">
        <div class="span7">
          {% block 'CRM360' %}
          <section class="crm360Solution">
            <header class="hd">
              <h3 class="title02"><img src="{{ 'images/crm360.png' | theme_image_url }}" alt="CRM360°"/></h3>

              <p class="subTitle02">
                {% editable_short_text 'Titre', priority: 11 %}Une solution GRC simple et efficace{% endeditable_short_text %}
              </p>
            </header>
            <div class="bd">
              <ul class="row-fluid solutionItems">
                <li class="span4 easy">
                  <span class="icon"></span>
                  <h4 class="title01">{% editable_short_text 'Col1 - Titre', priority: 10 %}Simple{% endeditable_short_text %}</h4>

                  {% editable_long_text 'Col1 - Texte', priority: 9 %}<p>Profitez de nos 25 années d’expérience du CRM et découvrez un outil conçu pour être simple à utiliser.</p>{% endeditable_long_text %}
                </li>
                <li class="span4 clickNPlay">
                  <span class="icon"></span>

                  <h4 class="title01">{% editable_short_text 'Col2 - Titre', priority: 8 %}Click 'n Play{% endeditable_short_text %}</h4>

                  {% editable_long_text 'Col2 - Texte', priority: 7 %}<p>Pas d’installation, tout est dans le "cloud" !<br/>
                    Vous vous connectez et ça fonctionne !</p>{% endeditable_long_text %}
                </li>
                <li class="span4 payPerUse">
                  <span class="icon"></span>
                  <h4 class="title01">{% editable_short_text 'Col3 - Titre', priority: 6 %}Pay per Use{% endeditable_short_text %}</h4>

                  {% editable_long_text 'Col3 - Texte', priority: 7 %}<p>Pas d’acquisition de licence ! Vous ne payez qu’à la consommation, sans engagement et<br/>
                  à partir de <strong>35€ par mois</strong></p>{% endeditable_long_text %}

                </li>
              </ul>
            </div>
            <div class="ft more">
              <a href="/crm360" class="btn btn01"><span>Découvrir CRM360°</span></a>
            </div>
          </section>
          {% endblock %}
        </div>
        <div class="span5">
          {% block 'Salle de jeu' %}
          <article class="box boxIntsetShadow">
            <header>
              <h3 class="title02">{% editable_short_text 'Titre', priority: 8 %}Notre salle de jeu{% endeditable_short_text %}</h3>

              <p class="subTitle02">{% editable_short_text 'Sous-Titre', priority: 7 %}Un lieu de travail et de détente{% endeditable_short_text %}</p>
            </header>
            <div class="bd">
              <div class="slideShowOneImage">
                {% capture desk_url %}{% editable_file 'Photo 800x282', priority: 6 %}/images/images/desk.jpg{% endeditable_file %}{% endcapture %}
                {{ desk_url | image_tag }}                
              </div>

              {% editable_long_text 'Légende photo', priority: 5 %}<p>C'est ici que l'on vous recevra !</p>{% endeditable_long_text %}
              
            </div>
            <div class="ft more">
              <a href="/contact" title="" class="btn btn02"><span>Où nous trouver ?</span></a>
            </div>

          </article>
          {% endblock %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}