{% extends 'layout' %}
{% block 'main' %}
#content{:role => "main"}
	#mainContent.center.cms
		%h2.title02
			{% editable_short_text 'Titre', priority: 10 %}
			Crédits
			{% endeditable_short_text %}
		{% editable_long_text 'Contenu', priority: 8 %}
		%article
			%header
				%h2.subTitle02 Crédits et images utilisés sur ce site
			%p
				L’agence 9troisquarts a réalisé ce site web en collaboration avec le studio Lamarquise.
				%br
				%strong
					9troisquarts,
				77 rue du Grand Chemin 59100 Roubaix
				%br
				www.9troisquarts.com

			%p
				%strong
					Studio Lamarquise
				%br
					www.studiolamarquise.com 

			%p
				Le photographe Dominique Prévost est l’auteur de nos photographies.
				%br
				Contact : Prevost.d@aliceadsl.fr
		{% endeditable_long_text %}
{% endblock %}