<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.seo_title }} | {{ site.name }}</title>
    {% seo_metadata %}
  </head>
  <body>
    <a href="/">Version FR</a>
    <ul id="main-nav">
    <h1>VERSION EN</h1>
      <li id='home' class="{% if page.fullpath == 'index' %} active {% endif %} link"><a href="/">Home</a></li>
      {% nav 'site', depth: 1, no_wrapper: true, exclude: nil, icon: true, active_class: active %}
    </ul>
  
    {% block 'main' %}
    <p>Lorem ipsum....</p>
    {% endblock %}
  </body>
</html>