{% extends 'layout' %}
{% block 'main' %}
<div id="content" role="main">
  <div id="banner">
    <div class="inner">
      <div class="center bannerInside">
        <div class="bannerExtend bannerLeft"></div>
        <div class="bannerExtend bannerRight"></div>
        <div class="row-fluid bannerContent">
          <div class="span5 imageContent">
            <img src="{{ 'images/banner/team.png' | theme_image_url }}" alt=""/>
          </div>
          <div class="span7 textContent">
            <article class="text">
              <header class="hd">
                <h2 class="title02">Join the work team!</h2>

                <p class="subTitle02">Make game</p>
              </header>
              <div class="bd">
                <p>
                  Follow The Sun is an adventure to share!<br/>
                  You have talent, an urge or a professional
                  experience to share? Contact us and send us your resume and your covering letter.
                </p>
              </div>

            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainContent" class="center">
    <div class="row-fluid">
      <section class="ourProposition span7">
        <div class="xtraPaddingL">
          <article>
            <header>
              <h2 class="title02">What we offer presently</h2>

              <p class="subTitle02">In search of new talents</p>
            </header>
            <div class="bd">
              <section class="toggle">
                <div class="toggleHead">
                  <div class="inner">Développeur dot.net</div>
                </div>
                <div class="toggleBody">
                  <h3>Incenderat autem</h3>
                  <p>test contenu test contenutest contenu test contenu</p>
                </div>
              </section>
              <section class="toggle">
                <div class="toggleHead">
                  <div class="inner">Développeur html5</div>
                </div>
                <div class="toggleBody"><p>test contenu test contenutest contenu test contenu</p></div>
              </section>
              <section class="toggle">
                <div class="toggleHead">
                  <div class="inner">Webdesigner</div>
                </div>
                <div class="toggleBody"><p>test contenu test contenutest contenu test contenu</p></div>
              </section>
            </div>
          </article>
        </div>
      </section>
      <div class="span5">
        <div class="xtraPaddingL">
          <article class="box boxIntsetShadow boxArrow boxForm">
            <header>
              <h3 class="title02">Apply</h3>

              <p class="subTitle02">We thank you to complete the following form:</p>
            </header>
            <form class="form errorForm" action="#" method="post" enctype="multipart/form-data">
              <div class="bd">
                <p class="errorField">
                  <label for="firstName">First name*</label>
                  <span class="field fieldInputText"><input id="firstName" class="inputText"
                                        type="text" value=""/></span>
                </p>

                <p>
                  <label for="lastName">Last name*</label>
                  <span class="field fieldInputText"><input id="lastName" class="inputText"
                                        type="text" value=""/></span>
                </p>

                <p>
                  <label for="email">Email</label>
                  <span class="field fieldInputText"><input id="email" class="inputText" type="email"
                                        value=""/></span>
                </p>

                <p>
                  <label for="phoneNumber">Phone</label>
                  <span class="field fieldInputText"><input id="phoneNumber" class="inputText"
                                        type="tel" value=""/></span>
                </p>

                <p>
                  <label>Resume</label>
                  <span class="field"><input type="file"/></span>
                </p>

                <p>
                  <label>Covering letter</label>
                  <span class="field"><input type="file"/></span>
                </p>

                <p>
                  <label>Job</label>
                  <span class="field fieldInputSelect">
                    <select class="inputSelect">
                      <option>Développeur Front-End</option>
                      <option>Ingénieur JAVA</option>
                      <option>Ingénieur PHP</option>
                      <option>Candidature libre</option>
                    </select>
                  </span>
                </p>

              </div>
              <p class="errorMessage">Error message</p>

              <div class="ft more">
                <span href="#" class="btn btn01"><input type="submit" value="Send"/></span>
              </div>
            </form>


          </article>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}