{% extends 'layout' %}
{% block 'main' %}
<div id="content" role="main">
  <div id="banner">
    <div class="inner">
      <div class="center bannerInside">
        <div class="bannerExtend bannerLeft"></div>
        <div class="bannerExtend bannerRight"></div>
        <div class="row-fluid bannerContent">
          <div class="span5 imageContent">
            <img src="{{ 'images/banner/en/thecompagny.png' | theme_image_url }}" alt=""/>
          </div>
          <div class="span7 textContent">
            <article class="text">
              {% editable_long_text 'Block header', :hint => 'Respecter le html !', priority: 100 %}
              <header class="hd">
                <h2 class="title02">Experts get hooked into the online service game!</h2>

                <p class="subTitle02">Professionals but not big-headed!</p>
              </header>
              <div class="bd">
                <p>
                  Created in 2011, Follow The Sun is an online service provider which converts highly
                  professional know-how into an online standard service offer, easily affordable.
                </p>

                <p>
                  Follow The Sun is a spin-off of <a target="_blank" href="http://www.eto.fr"><span class="color01">ETO</span></a> group, leading
                  independent marketing services
                  group in Europe. Follow The Sun inherits this know-how widely acknowledged by major
                  companies around the world. The company has simplified the complexity of various
                  ETO’s marketing services such as Data integration and cleansing, Campaign
                  Management, Business Intelligence, Analysis and secured data hosting.
                </p>
              </div>
              {% endeditable_long_text %}
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainContent" class="center">
    <div class="row-fluid">
      {% block 'Colonne gauche' %}
      <section class="span7 enterprisePhilosophy">
        <header>
          <h2 class="title02">{% editable_short_text 'Titre', priority: 10 %}Game rules{% endeditable_short_text %}</h2>

          <p class="subTitle02">{% editable_short_text 'Sous-titre', priority: 9 %}The company value and philosophy{% endeditable_short_text %}</p>
        </header>
        <div class="bd">
          {% editable_long_text 'Texte', hint: 'Utiliser <ul class="list01"> pour les listes à puces' %}
          <ul class="list01">
            <li>
              Follow The Sun markets its offers together with its partners ecosystem.
            </li>
            <li>
              Follow The Sun commits to the quality and availability of the hosted services relying on Runiso, notarized PCI/DSS.
            </li>
            <li>
              Follow The Sun implements its fast expansion strategy all around the world, thanks to an optimum quality/price rate.
            </li>
            <li>
              Follow The Sun respects the following values :
              <ul>
                <li>- Open and honest sales promise</li>
                <li>- Technological and economic innovations</li>
                <li>- Team work involvement and commitment to partners and customers</li>
                <li>- Associates autonomy and self-reliance towards its environment</li>
                <li>- Aiming towards excellence</li>
              </ul>
            </li>
          </ul>
          {% endeditable_long_text %}
        </div>
        <div class="ft more">
          <a href="/en/clients" class="btn btn03"><span>Read testimonies</span></a>
        </div>
      </section>
      {% endblock %}
      {% block 'Colonne droite' %}
      <div class="span5">
        <div class="xtraPaddingL">
          <aside class="ourScores">
            <header>
              <h3 class="title02">{% editable_short_text 'Titre', priority: 10 %}Our scores{% endeditable_short_text %}</h3>
            </header>
            <div class="bd">
              <p class="subTitle02">A few figures</p>
              <ul class="blockList">
                <li class="clearfix">
                  <div class="score">{% editable_short_text 'Ligne 1 chiffre', priority: 8 %}68{% endeditable_short_text %}</div>
                  <p class="desc">
                    {% editable_short_text 'Ligne 1 texte', priority: 7 %}
                    Talented partners connected to Follow The Sun{% endeditable_short_text %}
                  </p>
                </li>
                <li class="clearfix">
                  <div class="score">{% editable_short_text 'Ligne 2 chiffre', priority: 6 %}3{% endeditable_short_text %}</div>
                  <p class="desc">
                    {% editable_short_text 'Ligne 2 texte', priority: 5 %}
                    Years to develop the CRM360° solution{% endeditable_short_text %}
                  </p>
                </li>
                <li class="clearfix">
                  <div class="score">{% editable_short_text 'Ligne 3 chiffre', priority: 4 %}100{% endeditable_short_text %}</div>
                  <p class="desc">
                    {% editable_short_text 'Ligne 3 texte', priority: 3 %}
                    Years of accumulated experiences{% endeditable_short_text %}
                  </p>
                </li>
                <li class="clearfix">
                  <div class="score">{% editable_short_text 'Ligne 4 chiffre', priority: 2 %}12{% endeditable_short_text %}</div>
                  <p class="desc">
                    {% editable_short_text 'Ligne 4 texte', priority: 1 %}
                    12 Keyboards worn out to develop CRM360°{% endeditable_short_text %}
                  </p>
                </li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
  <div id="bottomContent">
    <div class="center">
      <div class="row-fluid">
        <div class="span7">
          {% block 'CRM360-en' %}
          <section class="crm360Solution">
            <header class="hd">
              <h3 class="title02"><img src="{{ 'images/crm360.png' | theme_image_url }}" alt="CRM360°"/></h3>

              <p class="subTitle02">
                {% editable_short_text 'Titre', priority: 11 %}A simple and effective CRM solution{% endeditable_short_text %}
              </p>
            </header>
            <div class="bd">
              <ul class="row-fluid solutionItems">
                <li class="span4 easy">
                  <span class="icon"></span>
                  <h4 class="title01">{% editable_short_text 'Col1 - Titre', priority: 10 %}Simple{% endeditable_short_text %}</h4>

                  {% editable_long_text 'Col1 - Texte', priority: 9 %}<p>Get our 25 years of CRM know-how in a box and test out a new easy going marketing tool!</p>{% endeditable_long_text %}
                </li>
                <li class="span4 clickNPlay">
                  <span class="icon"></span>

                  <h4 class="title01">{% editable_short_text 'Col2 - Titre', priority: 8 %}Click 'n Play{% endeditable_short_text %}</h4>

                  {% editable_long_text 'Col2 - Texte', priority: 7 %}<p>No installation required, everything is in the cloud! Log on and it runs!</p>{% endeditable_long_text %}
                </li>
                <li class="span4 payPerUse">
                  <span class="icon"></span>
                  <h4 class="title01">{% editable_short_text 'Col3 - Titre', priority: 6 %}Pay per Use{% endeditable_short_text %}</h4>

                  {% editable_long_text 'Col3 - Texte', priority: 7 %}<p>No license required !It’s really cheap, you only pay for what you get and use<br/>
                  From <strong>35€ a month !</strong></p>{% endeditable_long_text %}

                </li>
              </ul>
            </div>
            <div class="ft more">
              <a href="/en/crm360" class="btn btn01"><span>Discover CRM360°</span></a>
            </div>
          </section>
          {% endblock %}
        </div>
        <div class="span5">

          {% block 'Salle de jeu' %}
          <article class="box boxIntsetShadow">
            <header>
              <h3 class="title02">{% editable_short_text 'Titre', priority: 8 %}Our playground{% endeditable_short_text %}</h3>

              <p class="subTitle02">{% editable_short_text 'Sous-Titre', priority: 7 %}A work and recreation room{% endeditable_short_text %}</p>
            </header>
            <div class="bd">
              <div class="slideShowOneImage">
                {% capture desk_url %}{% editable_file 'Photo 800x282', priority: 6 %}{{ 'images/desk.jpg' | theme_image_url }}{% endeditable_file %}{% endcapture %}
                {{ desk_url | image_tag }}
              </div>

              {% editable_long_text 'Texte sous image', priority: 5 %}<p>We will welcome you here !</p>{% endeditable_long_text %}
              
            </div>
            <div class="ft more">
              <a href="/en/contact" title="" class="btn btn02"><span>Where are we?</span></a>
            </div>

          </article>
          {% endblock %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}